<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<string>操作成功</string>
	<key>1001</key>
	<string>操作失败</string>
	<key>1002</key>
	<string>数据查询错误</string>
	<key>1003</key>
	<string>数据结果为空</string>
	<key>1004</key>
	<string>参数缺失</string>
	<key>1005</key>
	<string>上传图片不存在</string>
	<key>1006</key>
	<string>上传图片失败</string>
	<key>1007</key>
	<string>未知错误</string>
	<key>1008</key>
	<string>参数为空</string>
	<key>1009</key>
	<string>无效操作</string>
	<key>2001</key>
	<string>拒绝访问：时间戳不正确</string>
	<key>2002</key>
	<string>拒绝访问：token不正确</string>
	<key>2011</key>
	<string>用户名或密码错误</string>
	<key>2012</key>
	<string>注册失败</string>
	<key>2014</key>
	<string>用户角色错误</string>
	<key>2021</key>
	<string>用户编号丢失</string>
	<key>2022</key>
	<string>用户编号不正确</string>
	<key>2023</key>
	<string>位置修改失败</string>
	<key>2024</key>
	<string>用户不存在</string>
	<key>2025</key>
	<string>用户名已存在</string>
	<key>2026</key>
	<string>电话号已存在</string>
	<key>2028</key>
	<string>用户关注失败</string>
	<key>2030</key>
	<string>尚未关注</string>
	<key>2034</key>
	<string>取消关注失败</string>
	<key>2040</key>
	<string>登陆成功</string>
	<key>2042</key>
	<string>绑定电话号失败</string>
	<key>3001</key>
	<string>图集添加失败</string>
	<key>3003</key>
	<string>图集缩略图生成失败</string>
	<key>3005</key>
	<string>未知图集操作</string>
	<key>3007</key>
	<string>点赞失败</string>
	<key>3009</key>
	<string>取消点赞失败</string>
	<key>3011</key>
	<string>收藏失败</string>
	<key>3013</key>
	<string>取消收藏失败</string>
	<key>3015</key>
	<string>图集不存在</string>
	<key>4001</key>
	<string>订单生成失败</string>
	<key>4005</key>
	<string>订单不存在</string>
	<key>4007</key>
	<string>评论添加失败</string>
	<key>4009</key>
	<string>该订单已经评论过</string>
	<key>4011</key>
	<string>订单编号不存在</string>
	<key>4012</key>
	<string>评论编号不存在</string>
	<key>4013</key>
	<string>下单对象必须是美甲师</string>
	<key>4015</key>
	<string>订单未完成，不能进行评论</string>
	<key>4017</key>
	<string>不允许删除订单</string>
	<key>4019</key>
	<string>无法对自己下单</string>
</dict>
</plist>
